* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}





.card {
  cursor: pointer;
  transition: all 0.5s;
  justify-content: center;
  user-select: none;
}
.card:hover {
  transform: scale(1.05);
}
.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}